<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>yummlyAppId</key>
	<string>819b4bc4</string>
	<key>yummlyAppKey</key>
	<string>87a294c3b80b46ccf5a7dfbd30cb326a</string>
</dict>
</plist>
